.idea
my-venv
**/.pytest_cache
**/__pycache__
01/*.cmp
01/*.out
01/*.tst
02/*.cmp
02/*.out
02/*.tst
03/*/*.cmp
03/*/*.out
03/*/*.tst
04/*/*.cmp
04/*/*.out
04/*/*.tst
05/*.cmp
05/*.out
05/*.tst
05/*.hack
06/fixtures/*.hack
07/fixtures/**/*.out
07/fixtures/**/*.asm
08/fixtures/**/*.out
08/fixtures/**/*.asm
